apiVersion: 1

# 数据源配置
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    jsonData:
      timeInterval: "15s"
      tlsSkipVerify: true
    version: 1