global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'smart-kitchen-service'
    static_configs:
      - targets: ['smart-kitchen-service:3000']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['smart-kitchen-service:9100']
